#contact_modal {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
    position:fixed;
    top:0;
    z-index: 3;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    position:relative;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.modal header img {
    position:absolute;
    top:35px;
    right:35px;
    cursor: pointer;
}

.modal header h2 {
    margin:0;
    font-size: 64px;
    font-weight: normal;
}

.modal header .modal-photograph {
    margin:0;
    font-size: 64px;
}

.modal textarea {
    box-sizing: border-box;
    width: 100%;
    height: 170px;
    border:0px;
    border-radius: 5px;
    padding:20px;
    resize: none;
    outline: none;
}

.modal form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.modal form label {
    color: #312E2E;
    font-size: 36px;
}

.modal form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.modal form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

main .photograph-header {
    display: flex;
    padding:71px 50px;
}

main .photograph-header .header_details {
    display: flex;
    flex-direction: column;
}

main .photograph-header .header_details h1 {
    margin:0;
    padding:0;
    color:#D3573C;
    font-weight: 400;
    font-size:64px;
    line-height: 83px;
}

main .photograph-header .header_details .details_location {
    margin:0 0 19px 0;
    padding:0;
    color: #901C1C;
    font-weight: 400;
    font-size:24px;
    line-height: 31px;
}

main .photograph-header .header_details .details_desc {
    margin:0;
    padding:0;
    color: #525252;
    font-weight: 400;
    font-size:18px;
    line-height: 23px;
}

main .header_photographer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-profil {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 10px 10px #c6c6c6;
}

.photograph-medias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photograph-medias article {
    padding:40px;
}

.photograph-medias article h2 {
    color: #901C1C;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
}

.photograph-medias article img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-medias video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.photograph-infos {
    background-color: #DB8876;
    position:fixed;
    bottom:-10px;
    right:36px;
    width: 376px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photograph-infos p {
    font-weight: 600;
    font-size:24px;
    line-height: 31.25px;
}

#lightbox {
    display: none;
    position:fixed;
    z-index: 5;
    top:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
}

#lightbox button {
    border:0;
    display: flex;
    background-color: transparent;
}

.title-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article .title-card h2 {
    padding:0;
    margin:0;
}

article .title-card img {
    width:17.5px;
    height: 18.35px;
    object-fit: fill;
    margin-left:5px;
}

.count-heart {
    display: flex;
    align-items: center;
}

.count-heart .count-btn {
    font-size:24px;
    color:#901C1C;
    cursor:pointer;
}

.lightbox-modal {
    width: 100%;
    display: flex;
    justify-content: center;
}

.lightbox-modal .close-modal {
    position:absolute;
    z-index: 50;
    top:35px;
    right:35px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(10%) sepia(81%) saturate(3621%) hue-rotate(350deg) brightness(104%) contrast(90%);
}

.lightbox-content {
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.lightbox-content img {
    width: auto;
    max-width: 80%;
    height: 80%;
    object-fit: cover;
}

.lightbox-content video {
    margin:0 auto 0 auto;
    width: 80%;
    max-width: 80%;
    height: auto;
}

.lightbox-content button {
    position:absolute;
    z-index: 30;
    border:0;
    background-color: transparent;
    cursor: pointer;
}

.lightbox-content .btn-prev {
    top:50%;
    left:50px;
}

.lightbox-content .btn-next {
    top:50%;
    right:50px;
    transform: rotate(180deg);
}